.App {
  text-align: center;
}

.Appbar{
  background-color: #000;
  
}
.Navbar-link{
  text-decoration: none;
  color: #fff;
  padding:5px
}

.Navbar-link:hover{
  color: #27CFC3;
  text-decoration: underline;
  
}

body{
  font-family: 'Montserrat', sans-serif;
}